name: Build Check

on:
  push:
    branches:
      - main

jobs:
  build-macos:
    runs-on: macos-11
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Setup dependencies
        run: |
          ./pull-deps.sh
          brew install openssl@3
          brew install llvm@16

      - name: Make
        run: make -f macos.mk

  build-android-and-rpi:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Get RPi toolchain
        run: |
          wget https://github.com/sfjohnson/rpi-toolchain/releases/download/v0.0.8/arm-rpi-linux-gnueabihf.tar.xz
          tar xf arm-rpi-linux-gnueabihf.tar.xz -C ~

      - name: Setup dependencies
        run: ./pull-deps.sh

      - name: Make RPi
        run: make -f rpi.mk
        env:
          TOOLCHAIN: /home/runner/arm-rpi-linux-gnueabihf

      - name: Make Android
        run: |
          make -f rpi.mk clean
          make -f android30.mk
